[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pickle5 = "*"
lightgbm = "*"
joblib = "*"
category-encoders = "*"
sklearn = "*"
dill = "*"
streamlit-aggrid = "*"
pycaret = "*"
google-cloud-storage = "*"
s3fs = "*"
llvmlite = "*"
scikit-learn = "*"
catboost = "*"
openpyxl= "*"

[dev-packages]

[requires]
python_version = "3.9"
