[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
pandas = "*"
lightgbm = "*"
numpy = "==1.22.2"
plotly = "*"
matplotlib = "*"
scikit-learn = "*"
sklearn = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.9"
